@model IEnumerable<Saboriza.Models.Produto>

@{
    ViewData["Title"] = "Home";
}

<h1>Produtos em Destaque</h1>
<div class="d-flex flex-wrap">
@foreach (var produto in Model)
{
    @Html.Partial("_ProductCard", produto)
}
</div>
